:root {
    --rows: 3; 
    --cols: 10;
    --pad: calc((100vw - 125vh) / 2);
}

#grid {
    display: grid;
    margin: calc(var(--size) * 4) calc(var(--size) * 7);
    padding: 0px var(--pad);

    grid-template-columns: repeat(var(--cols), 1fr);
    gap: calc(var(--size) / 2);

    background: var(--color-box);
}

.cell {
    width: 100%;
    border-radius: 10%;
    aspect-ratio: 1;
    
    background: var(--color-5);
    font-size: calc(var(--size) * 3);

    box-shadow: calc(var(--size) / 5) calc(var(--size) / 5) black;
    user-select: none;

    transition: 
        background-color 200ms,
        filter 100ms;
}

.cell:hover {
    filter: brightness(120%);
}