@import 'grid.css';
@import 'key.css';
@import 'search.css';
@import 'table.css';

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    color: var(--color-bg);
    font-family: "Fira Code", monospace;
}

:root {
    --color-box: rgb(62, 62, 62);
    --color-bg: rgb(39, 39, 39);
    --color-light: rgb(232, 232, 232);

    --size: min(1vw, 1.66vh);
}

body {
    height: 100vh;
    margin: 0;
    
    background: var(--color-bg);
}

#canvas {
    display: flex;
    height: 100%;
    margin: 0px calc(var(--size) * 4);

    flex-direction: column;
    justify-content: center;
}

#toolbar {
    display: flex;
    justify-content: end;
    padding: 0 calc(var(--size) * 5);

    gap: calc(var(--size) / 2);
}

button {
    border: none;
    padding: var(--size);

    background: var(--color-5);
    font-size: calc(var(--size) * 2);

    transition: background-color 200ms;
}

button:hover {
    background: var(--color-3);
}

button:active {
    background: var(--color-1)
}

.box {
    margin: calc(var(--size) * 1);

    background: var(--color-box);
}

.center {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

#editor {
    position: absolute;
    top: 0;
    
    border: none;
    aspect-ratio: 1;
    
    background: none;
    font-size: calc(var(--size) * 3);
    text-align: center;
    
    outline: none;
}

[hidden] {
    display: none !important;
}