@import 'grid.css';
@import 'key.css';
@import 'search.css';

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 

    color: var(--color-bg);
    font-family: "Fira Code", monospace;
}

:root {
    --color-box: rgb(62, 62, 62);
    --color-bg: rgb(39, 39, 39);
    --color-light: rgb(232, 232, 232);
}

body {
    height: 100vh;
    margin: 0;
    
    background: var(--color-bg);
}

#canvas {
    display: flex;
    margin: 0px 4vw;
    height: 100%;

    flex-direction: column;
    justify-content: center;
}

#toolbar {
    display: flex;
    justify-content: end;
    padding: 0 5vw;

    gap: 0.5vw;
}

button {
    border: none;
    padding: 1vw;

    background: var(--color-5);
    font-size: 2vw;

    transition: background-color 200ms;
}

button:hover {
    background: var(--color-3);
}

button:active {
    background: var(--color-1)
}

.box {
    margin: 1vw;

    background: var(--color-box);
}

.center {
    display: flex;
    
    align-items: center;
    justify-content: center;
}